[Desktop Entry]
Name=DuckDuckGo Browser
Type=Application
Comment=open-source browser with DuckDuckGo by default
Icon=com.github.vikdevelop.duckduckgobrowser
Exec=duckduckgobrowser
Category=Internet
